@page "/"

<PageTitle>Home</PageTitle>
<div class="d-flex flex-column">
    <MudText Typo="Typo.h2" class="ma-12 text-center">Welcome to Community Player Character!</MudText>
    <MudText Typo="Typo.body1" class="text-center">Join a survey or create one</MudText>
    <MudPaper Elevation="2" class="ma-12 pa-8">
        <MudButton Href="/character">Character</MudButton>
    </MudPaper>
</div>
@code {
}