@page "/"

<PageTitle>Home</PageTitle>
<div class="d-flex flex-column">
    <MudText Typo="Typo.h2" class="ma-12 text-center">Welcome to Ctrl Alt Quest!</MudText>
    <MudText Typo="Typo.body1" class="ma-12">
        Your loyal companion for managing tabletop adventures and building unforgettable characters. Like the trusty healer or resourceful rogue in your party, we’re here to support your quest, track your progress, and keep things running smoother than a bard's silver tongue.

        Adventure is calling—let’s answer it together.
    </MudText>
    <MudPaper Elevation="2" class="ma-12 pa-8">
        <MudButton Href="/pathfinder2e/character">Character</MudButton>
    </MudPaper>
</div>
@code {
    protected async override Task OnInitializedAsync()
    {
        var x = new HttpClient();
        x.BaseAddress = new Uri("https://localhost:7027/");
        var y = await x.GetStringAsync("pathfinder2e/traits.json");
        
        base.OnInitialized();
    }
}