@page "/character"
@using CtrlAltQuest.Blazor.Components.Common
@using CtrlAltQuest.Pathfinder2e.Actors
@inherits MainLayout
@rendermode InteractiveServer
@inject SessionProperties _sessProps2;
@implements IDisposable
<MudGrid>
    <MudItem lg="6" xs="12">
        <MudTabs Elevation="3" Rounded="true">
            <MudTabPanel Text="Character Sheet">
                <CharacterSheetIndex />
            </MudTabPanel>
            <MudTabPanel Text="Builder">
                @* <BuilderIndex /> *@
            </MudTabPanel>
        </MudTabs>
    </MudItem>
    <MudItem>
        <MudTabs Elevation="3" Rounded="true">
            <MudTabPanel Text="Notes">
                <h1>NOTES</h1>
            </MudTabPanel>
        </MudTabs>
    </MudItem>
</MudGrid>

@code
{
    public CharacterState _state = new CharacterState("character-id");
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && _state != null)
        {
            _sessProps2.AdditionalTitle = $"{_state.Name}";
            _sessProps2.TitleChanged();
        }
        base.OnAfterRender(firstRender);
    }

    public void Dispose()
    {
        _sessProps2.AdditionalTitle = string.Empty;
        _sessProps2.TitleChanged();
    }

    private bool _open = false;
    private void ToggleDrawer()
    {
        _open = !_open;
    }
}