@inherits CharacterSheetIndex
<MudGrid>
    <MudItem md="12">
        <MudToggleIconButton @bind-Toggled="isResistanceExpanded"
                             Icon="@Icons.Material.Filled.KeyboardArrowRight"
                             ToggledIcon="@Icons.Material.Filled.KeyboardArrowDown"
                             Ripple="false"
                             Size="MudBlazor.Size.Small" />
        <span>Resistances</span>
    </MudItem>
    @foreach(var r in _state.Resistances)
    {
        <MudCollapse Expanded="@isResistanceExpanded">
            <MudChip T="string" Variant="Variant.Outlined" Color="Color.Dark">@r</MudChip>
        </MudCollapse>
    }
</MudGrid>


@code {
    private bool isResistanceExpanded = true;
}
