@inherits CharacterSheetIndex;
<MudGrid>
    <MudItem xs="12">
        <MudToggleIconButton @bind-Toggled="_skillsExpanded"
                             Icon="@Icons.Material.Filled.KeyboardArrowRight"
                             ToggledIcon="@Icons.Material.Filled.KeyboardArrowDown"
                             Ripple="false"
                             Size="MudBlazor.Size.Small"/>
        <span>Skills</span>
    </MudItem>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
                <MudText Class="svg-stat-heading" Typo=" Typo.overline">Acrobatics</MudText>
                <PolarStar_SVG Value="SkillsAggregator.CalculateAcrobatics(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Arcana</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateArcana(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Athletics</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateAthletics(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Crafting</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateCrafting(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Deception</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateDeception(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Diplomacy</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateDiplomacy(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Intimidation</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateIntimidation(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Medicine</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateMedicine(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Nature</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateNature(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Occultism</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateOccultism(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Performance</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculatePerformance(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Religion</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateReligion(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Society</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateSociety(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Stealth</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateStealth(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Survival</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateSurvival(_state)" />
        </MudItem>
    </MudCollapse>
    <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
        <MudItem xs="6" md="6">
            <MudText Class="svg-stat-heading" Typo="Typo.overline">Thievery</MudText>
            <PolarStar_SVG Value="SkillsAggregator.CalculateThievery(_state)" />
        </MudItem>
    </MudCollapse>
    @foreach (var l in _state.SkillProficiencies.Lore)
    {
        <MudCollapse Expanded="_skillsExpanded" Class=@classAction()>
            <MudItem xs="6" md="6">
                <MudText Class="svg-stat-heading" Typo="Typo.overline">@($"Lore: {l.Key}")</MudText>
                <PolarStar_SVG Value="SkillsAggregator.CalculateLore(_state, l.Value)" />
            </MudItem>
        </MudCollapse>
    }
</MudGrid>


@code {
    private bool _skillsExpanded = true;
    private readonly string _classValue = "mud-grid-item mud-grid-item-xs-6 mud-grid-item-md-2";
    private Func<string> classAction = () => "";

    protected override void OnInitialized()
    {
        classAction = () => (_skillsExpanded ? _classValue : "");
        base.OnInitialized();
    }
}