<MudCard Elevation="3" Class="ma-3 pa-12">
    <MudText Typo="Typo.h3">Gift - Elemental Connection</MudText>
    <MudText Typo="Typo.body1">
        Choose an element that you have a deep relationship with. It could be the classical Fire, Earth, Air or Water, or more whimsical like candy, books or flowers.
    </MudText>
    <div class="py-3">
        <MudText Typo="Typo.h5">Items:</MudText>
        <MudText Typo="Typo.body1">Symbol of your element, could be a necklace, crown, ring or other amulet; Ornate dagger (1) (d6) decorated with themes relating to your element.</MudText>
    </div>
    <div class="py-3">
        <MudText Typo="Typo.h5">Talents:</MudText>
        <MudText Typo="Typo.body1">Alchemy, Astronomy, one talent of your choice that relates to your chosen element e.g. Sailing for water, Blacksmithing for fire, etc. </MudText>
    </div>
    <div class="py-3">
        <MudText Typo="Typo.h5">Innate Abilities:</MudText>
        <MudText Typo="Typo.body1">Resistance: Any damage or malady caused to you by your chosen element is reduced by half. At level 4, you become completely immune to this type of damage. </MudText>
        <MudText Typo="Typo.body1">You can speak to your element. Elements may communicate via pantomime, spelled messages and symbols or feelings and intuition. The larger and older the element, the more information it can convey; An old volcano will have much more to say than a candle flame, the ocean more than a puddle, etc.</MudText>
    </div>
    <div class="py-3">
        <MudText Inline="true" Typo="Typo.h5">Special Abilities </MudText>
        <MudText Inline="true" Typo="Typo.subtitle1">(Gain one per level in order)</MudText>
        <ol class="mx-6">
            <MudText HtmlTag="li" class="underline" Typo="Typo.body1">Shape</MudText>
            <MudText Typo="Typo.body1">You can manipulate an amount of your element that fits within [DICE]x5 cubic feet and form it into specific shapes. This element must be within a range of [DICE] and can be moved anywhere within this range, provided it isn't obstructed.
            </MudText>
            <MudText HtmlTag="li" class="underline" Typo="Typo.body1">Blast</MudText>
            <MudText Typo="Typo.body1">Fire a 5-foot wide elemental blast in a straight line anywhere within a Stone's Throw. Anyone in its path takes [SUM] damage or half on a successful SAVE.
            </MudText>
            <MudText HtmlTag="li" Class="underline" Typo="Typo.body1">Storm</MudText>
            <MudText Typo="Typo.body1">Call a violent elemental barrage to rain down in a location you can see. [SUM] creatures within a Stone's Throw of each other take [SUM] damage or half on a successful SAVE.
            </MudText>
            <MudText HtmlTag="li" class="underline" Typo="Typo.body1">Summon</MudText>
            <MudText Typo="Typo.body1"> You can summon a small elemental being with [SUM] HP. They are friendly to you and follow your directions. They are amorphous, immune to damage from the element they are made of, and all their Virtues are equal to your WITS score. They dissolve after [DICE] hours or if they are reduced to 0HP. They can attack within a Stone's Throw for d6 damage.
            </MudText>
        </ol>
    </div>
</MudCard>
@*
Elemental Connection
 Choose an element that you have a deep relationship with. It could be the classical Fire, Earth, Air or Water, or more whimsical like candy, books or flowers.
 
ITEMS:
Symbol of your element, could be a necklace, crown, ring or other amulet; Ornate dagger (1) (d6) decorated with themes relating to your element.

TALENTS: 
Alchemy, Astronomy, one talent of your choice that relates to your chosen element e.g. Sailing for water, Blacksmithing for fire, etc. 

Innate Abilities
 Resistance: Any damage or malady caused to you by your chosen element is reduced by half. At level 4, you become completely immune to this type of damage. 
Affinity: You can speak to your element. Elements may communicate via pantomime, spelled messages and symbols or feelings and intuition. The larger and older the element, the more information it can convey; An old volcano will have much more to say than a candle flame, the ocean more than a puddle, etc. 


Special Abilities
 Gain one per level in order.
1. Shape - You can manipulate an amount of your element that fits within [DICE]x5 cubic feet and form it into specific shapes. This element must be within a range of [DICE] and can be moved anywhere within this range, provided it isn't obstructed.
2. Blast: Fire a 5-foot wide elemental blast in a straight line anywhere within a Stone's Throw. Anyone in its path takes [SUM] damage or half on a successful SAVE. 
3. Storm: You call a violent elemental barrage to rain down in a location you can see. [SUM] creatures within a Stone's Throw of each other take [SUM] damage or half on a successful SAVE. 
4. 
Summon
 You can summon a small elemental being with [SUM] HP. They are friendly to 
you and follow your directions. They are amorphous, immune to damage from the 
element they are made of, and all their Virtues are equal to your WITS score. They 
dissolve after [DICE] hours or if they are reduced to 0HP. They can attack within a 
Stone's Throw for d6 damage. 
MISHAPS (doubles on Gift Dice)
 1s–Sputter: Effect doesn’t happen. 
2s–Backfire: Take d4 damage.
 3s–Exhausted: Gift Dice only return on a 1–2 until you Spend Time connecting 
with your element. This includes the dice you just rolled. 
4s–Elemental Mutation: Something about your appearance changes forever as 
the elements take hold. You might have a constant odor of smoke, or your skin 
becomes blue like the ocean. 
5s –Explosion: You accidentally set off an uncontrolled explosion centered 
around you. You and everything Nearby must succeed a GRACE test or take 
[SUM] damage. 
6s–Elemental Heart: Your very essence is becoming more elemental than 
human and the transition is painful. Roll on the Wounded table (page 52).
 *@
@code {

}
