@rendermode InteractiveServer
@inject SessionProperties _sessProps;

<MudAppBar>
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
    <a href="/"><MudImage Src="CtrlAltQuest Logo - Horizontal.png" Alt="Ctrl Alt Quest Logo" Elevation="25" Height="42" Class="mr-2" Style="box-shadow: none"/></a>
    <MudText Typo="Typo.h6">@Title</MudText>
</MudAppBar>
<MudDrawer @bind-Open="@_drawerOpen" Elevation="2">
    <MudNavMenu>
        <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
        <MudNavLink Href="/about"  Match="NavLinkMatch.Prefix">About</MudNavLink>
    </MudNavMenu>
</MudDrawer>

@code {
    protected override void OnInitialized()
    {
        _sessProps.TitleChanged = () =>
        {
            if (!string.IsNullOrEmpty(_sessProps.AdditionalTitle))
            {
                Title = $"| {_sessProps.AdditionalTitle}";
            }
            else
            {
                Title = "";
            }
            this.InvokeAsync(StateHasChanged);
        };
        base.OnInitialized();
    }

    private string Title { get; set; } = "";
    bool _drawerOpen = true;

    public void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}